<!DOCTYPE html>
<html lang="en">

<head>
    <title>Raise Ticket</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../vendor/bootstrap-4.3.1-dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="../jquery-ui-1.12.1.custom/jquery-ui.min.css"> -->
    <link href="../css/style.css" rel="stylesheet">
    <script src="../vendor/jquery-3.3.1.min.js"></script>
    <script src="../vendor/popper.min.js"></script>
    <!-- <script src="../jquery-ui-1.12.1.custom/external/jquery/jquery.js"></script>
    <script src="../jquery-ui-1.12.1.custom/jquery-ui.min.js"></script> -->
    <script src="../vendor/bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>
    <script src="../js/ticket.js"></script>
</head>

<body onload="init()">
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav w-100">
                <li class="nav-item active">
                    <a class="nav-link" href="dashboard">Dashboard <span class="sr-only"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="search">Search</a>
                </li>
                <li class="nav-item dropdown ml-auto">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <img src="">
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="editProfile">Edit Profile</a>
                        <a class="dropdown-item" href="logout">Logout</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="col-lg-12 newTicket">
            <h5>Raise New Ticket</h5>
            <div id="newTic" class="form-horizontal">
                <div class="form-group">
                    <label class="col-lg-3 control-label">Citizen Name:</label>
                    <div class="col-lg-8">
                        <input name="citName" id="citName" class="form-control" type="text" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Citizen Email:</label>
                    <div class="col-lg-8">
                        <input name="citEmail" id="citEmail" class="form-control" type="text" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Organisation Name</label>
                    <div class="col-lg-8">
                        <input name="orgName" id="orgName" class="form-control" type="text" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Organisation Email</label>
                    <div class="col-lg-8">
                        <input name="orgEmail" id="orgEmail" class="form-control" type="text" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Description</label>
                    <div class="col-lg-8">
                        <input list="TDescr" name="TDescr" placeholder="TDescr" class="form-control" required>
                        <datalist id="TDescr">
                            <option value="Organic Waste Pickup">
                            <option value="E-Waste Pickup">
                            <option value="Monetary Donations">
                            <option value="Non-Monetary Donations">
                        </datalist>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Type</label>
                    <div class="col-lg-8">
                        <input list="type" name="type" placeholder="type" class="form-control" required>
                        <datalist id="type">
                            <option value="Once">
                            <option value="Recurring (Daily)">
                            <option value="Recurring (Weekly)">
                            <option value="Recurring (Monthly)">
                        </datalist>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Pickup Date</label>
                    <div class="col-lg-8" id="datepicker">
                        <input type="date" class="input-sm form-control" id="startDate" name="startDate" required>
                        <span class="input-group-addon"> to </span>
                        <input type="date" class="input-sm form-control" id="endDate" name="endDate" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label"></label>
                    <div class="col-lg-8">
                        <button name="submit" type="submit" id="submit" class="btn btn-primary">Raise
                            Ticket</button>
                        <input name="reset" type="reset" class="btn btn-default" value="Cancel">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>